stats/*
error/*
vendor/*
assets/*
!assets/.gitignore
protected/runtime/*
!protected/runtime/.gitignore
protected/data/*.db
themes/classic/views/
icon/*
sys/web/files/*
!sys/web/files/cover.jpg
sys/config/db.php
sys/web/sent-emails/*
sys/composer.lock
db_dump
sys/config/secrets.php
