img[title]:hover:after {
    content: attr(title);
    padding: 4px 8px;
    color: #333;
    position: absolute;
    left: 0;
    top: 100%;
    z-index: 20px;
    /* You can change tooltip design */
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 0px 0px 4px #222;
    -webkit-box-shadow: 0px 0px 4px #222;
    box-shadow: 0px 0px 4px #cccccc;
    background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #eeeeee), color-stop(1, #cccccc));
    background-image: -webkit-linear-gradient(top, #eeeeee, #cccccc);
    background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);
    background-image: -ms-linear-gradient(top, #eeeeee, #cccccc);
    background-image: -o-linear-gradient(top, #eeeeee, #cccccc);
}

.form-group .select2-container--default .select2-selection--single,
.form-group .select2-container--default .select2-search--inline .select2-search__field,
.form-group .select2-container--default .select2-selection--multiple {
    min-width: 250px;
    width: 100%;
    max-width: 100%;
}

.form-group .select2-container--default .select2-selection--multiple {
    min-width: 600px;
}

label {
    width: 100%;
}

label.custom-control-label {
    width: 90%;
}

.navbar {
    min-height: 90px;
    padding-top: 20px;   
}

.navbar-header {
    margin-top: -20px;
}

.navbar-brand {
    padding: 0!important;
    z-index: 1;
    position: relative;
}

.navbar-admin .navbar-nav {
    margin-right: -115px;
}

html,
body {
    height: 100%;
}

h4 {
    color: black;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
    background-repeat:repeat;
}

.background-overlay {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(204, 204, 204, 0.5);
}

.wrap-overlay {
    background-color: rgba(196, 196, 196, 0.5);
}

.wrap>.container {
    padding: 91px 15px 20px;
    position: relative;
}

.alert-success {
    font-size: 16px;
}

.table {
    background:white;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
    position: realtive;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}


/* add sorting icons to gridview sort links */

a.asc:after,
a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/
    "\e151";
}

a.desc:after {
    content: /*"\e114"*/
    "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}
/* .grid-view {
    overflow-x:auto;
} */

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}


/* align the logout "link" (button in form) of the navbar */

.nav li>form>button.logout {
    padding: 15px;
    border: none;  
    display: inline-block;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 190px;
}
.video-js {
    width: 636px;
    height: 358px;
}

.modal .video-js {
    width: 568px;
    height: 320px;
}

#navbar {
    transition: all .666s ease-in-out;
    top: 0;
}

.hasDatepicker {
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
}

.lecture-thumb {
    width: 100%;
    height: 150px;
    display: block;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 150px;
    border-radius: 10px;
}

.lecture-wrap {
    transition: all .2s ease-in-out;
    box-sizing: border-box;
    font-size: 16px;
    min-width: 263px; 
    position: relative;  
}

.LectureOverview__Wrap:first-child .lecture-wrap:nth-child(odd){
    padding: 16px 6px 16px 16px;
}

.LectureOverview__Wrap:first-child .lecture-wrap:nth-child(even){
    padding: 16px 8px 16px 6px;
}

.LectureOverview__Wrap:last-child .lecture-wrap:nth-child(odd){
    padding: 16px 6px 16px 8px;
}

.LectureOverview__Wrap:last-child .lecture-wrap:nth-child(even){
    padding: 16px 16px 16px 6px;
}

.lecture-wrap-related {
    min-width: 100%;
    padding-left: 0;
    padding-right: 0;
    margin: 8px 0;
}

.lecture-wrap:hover {
    transform: scale(1.1);
}

.lecture-title{
    position: absolute;
    top: 20px;
    left: 24px;
    right: 24px;
    color: white;
    text-align: left;
    font-size: 14px;
    z-index:2;
    /* background: rgba(0,0,0, .5);
    padding: 4px 8px;
    border-radius: 20px;
    font-weight: bold;
    max-width: 89%;
    max-width: 89%; */
}

.lesson-column {
    border-radius: 16px;
    padding: 8px;
    margin-top: 50px;
    min-height: 100vh;
}

/*.lesson-column-middle {
    padding: 8px 56px 24px 56px;
}*/

.lesson-column-right {
    padding: 24px;
}

.lesson-column-item {
    display: block;
    color: rgb(102, 102, 102);
    padding: 2px 8px;
    transition: opacity .05s ease-out, background-color 0.1s ease-in;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 12px;
    cursor: pointer;
}

.lesson-column-item:hover {
    text-decoration: none;
    color: rgb(50,50,50);
    background: rgb(240, 240, 240);
    border-radius: 4px;
}

.lesson-column p {
    margin: 2px 0;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.evaluation-and-favorite{
    float: left;
}

.nav>li>form>button.logout:focus,
.nav>li>form>button.logout:hover {
    text-decoration: none;
}

.nav>li>form>button.logout:focus {
    outline: none;
}

.a2hs {
    display: none;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    padding-top: 0px;
    font-size: 22px;
    line-height: 3;
    color: white;
    font-weight: bold;
    background: #007D82;
}

.LessonComments__Container {
    border: 1px solid gainsboro;
    border-radius: 18px;
    display:inline-block;
    padding: 5px 10px;
    margin-top: 10px;
    max-width: 85%;
}

.LessonComments__Container--response {
    margin-left:20px;
}

.LessonComments__Response {
    border-radius: 16px;
    text-indent: 10px;
    border: 1px solid gainsboro;
    outline: 0!important;
    margin-top: 5px;
    margin-left: 20px;
    width: 68%;
}

.LectureOverview__Wrap:first-child {
    padding-right: 20px;
}

.LectureOverview__Wrap:last-child {
    padding-left: 20px;
}

.LectureOverview__Section {   
    padding: 5px;
    background-color: rgba(196, 196, 196, 0.5);
    margin: 3px; 
    padding: 4px 16px; 
    border-radius: 16px;
    padding: 4px 16px 16px 16px;
    min-height: 85vh;
    position: relative;
}

.LectureOverview__Content {
    margin-bottom: 42px;
}

.LectureOverview__EmptyText {
    margin-bottom: 165px;
}

.LectureOverview__LinkToAll {
    float:right; margin-top:-32px; cursor:pointer;
}

.LectureOverview__Title {
    margin-left: 36px;
}

.LectureOverview__ButtonRow {
    position: absolute;
    width: 100%;
    bottom: 16px;
}

.Comments {
    width: 100%;
    max-height: 400px;
    overflow-y: auto;
}

.Buj__Item {
    padding: 8px 0;
}

.Buj__Item:not(:last-child) {
    border-bottom: 1px solid black;
    font-size: 16px;
}

div.has-experience, div.rent {
    transition: opacity 1s ease-out, background-color 2s ease-in;
    opacity: 0;
    height: 0;
    overflow: hidden;
    background: rgb(171, 253, 160);
}

.select-warning-border {
    border: solid 1px #a94442;
    border-radius: 4px;
}

.select-warning-message {
    color: #a94442;
}

div.has-experience.active, div.rent.active {
    margin-top: 12px;
    opacity: 1;
    height: auto;
    overflow: visible;
    background: transparent;
}

.login-header {
    text-align: center;
    margin-top: 50px;
}

.login-container {
    align-content: center;
    margin-top: 10px;
}

.login-form {
    padding-top: 10px;
    width: 50%;
    margin-left: 25%;
}

.login-input {
    margin-top: 16px;
    width: 100%;
    border: 1px solid lightgrey;
    background: white;
    padding: 8px;
    border-radius: 8px;
}

.content-input {
    border: 1px solid lightgrey;
    background: white;
    padding: 6px 20px 7px 20px;
    border-radius: 8px;
    font-size: 13px;
    margin: 3px;
    margin-left: 0;
    flex-grow: 1;
}

.search-section {
    margin-top: 10px;
    margin-bottom: 25px;
    width: 100%;
}

.login-remember{
    margin-top: 16px;
}

.login-button {
    margin-top: 100px;
    width: 100%;
}

.rent-submit-button {
   margin: 0 32px;
}

.login-forgot {
    margin-top: 8px;
    text-align: right;
}

.login-forgot a {
    margin-top: 26px;
    text-decoration: none;
    color:#999;
}

.signup-questions-textarea {
    width: 100%;
    height: 150px;
}

.signup-question-answer {
    width: 100%;
    height: 100px;
}

#student-info-details tr:nth-child(8) td:last-child {
    white-space: pre-wrap;
}

.info {
    float: right;
    margin-right: 12px;
}

.field-with-info-widget {
    display: inline-block;
    width: 95%;
}

.school-logo {
    width: 70px;
    height: 70px;
    background-size: 70px;
    display: inline-block;
    margin: 10px 15px;
    margin-left: -10px;
}

.school-logo.admin {
    margin-left: -50px;
}

.signup-form-section {
    margin-top: 36px;
    margin-bottom: 32px;
}

#chat-btn-with-icons {
    top: 20px;
    position: fixed;
    display: inline-block;
    left: calc(50% - 265px);
    z-index: 1050; /* slikti :))) */
}

#chat-btn-with-icons.teacher {
    left: calc(50% - 530px);
}

.teacher-communication-button {
    border-radius: 10px;
    padding: 10px 20px;   
    color: black;
    margin-top: 4px;
}

.teacher-communication-button.with-portrait {
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 95px;
}

.teacher-communication-button:hover { 
    color: black;
}

.chat-unread-count-groups {
    position: absolute;
    margin: 0 -5px;
    z-index: 1;
    padding: 5px 10px;
    border-radius: 5px 20px 5px;
    background-color: orange;
    color: white;
    top: -40%;
    right: 10%;
  }

 .chat-unread-count {
    position: absolute;
    margin: 0 -5px;
    z-index: 2;
    padding: 5px 10px;
    border-radius: 5px 20px 5px;
    background-color: red;
    color: white;
    top: -40%;
    right: -2%;
}

.chat-unread-count:empty,.chat-unread-count-groups:empty {
    display: none;
}

.chat-user-item {
    line-height: 1.5; 
    font-size: 16px;
    padding: 8px 0;
    cursor: pointer;
}

.chat-user-item:hover {
    background: #E8E8E8;
}

.chat-message {

}

.chat-message--need-help {
    border-radius: 6px;
    padding: 4px 4px 2px 4px;
    margin-left: 8px;
    margin-right: 4px;
    margin-top: 12px;
    margin-bottom: 6px;
    box-shadow: 1px -3px 4px 4px gainsboro;
}

.chat-message-help-prefix {
    font-size: 13px;
    color: gray;
    margin-bottom: 4px;
    text-align: center;
}

.btn-received-instrument {
    position: absolute;
    left: calc(50% - 500px);
    top: 24px;
    z-index: 1050;
}



/******************** SPINNER ************/

.spinner-container {
    text-align:center;
}

.lds-roller {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: rgb(166, 252, 124);
  margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/******************** END OF SPINNER *************/
.signup-checkbox-label {
    font-size: 18px;
}

.small-dropdown {
    width: 64px !important;
}

.small-dropdown + span .select2-selection {
    min-width: unset !important;
}

.LectureEvaluations__Heart {
    font-size: 25px;
    vertical-align: -6px;
}

.LectureEvaluations__Heart--active {
    color: #F4900C;
}

.LectureEvaluations__FavouriteText {
    font-weight: normal;
}

.lectures-index {
    padding: 16px;
    border-radius: 16px;
}



.removeBtnStyle{
    border: none;
    background: none;
    outline: none;
}

.LessonTop {
    width: 100%;
    font-size: 14px;
    /*padding: 0 56px 24px 56px;*/
}


.btn-orange {
    background: rgba(248, 197, 67, .8);   
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    border: none;
    border: 1px solid rgba(255,255,255,0);
    padding: 6px 20px;
    margin: 4px 4px;
    color: black;
    font-size: 13px;
}

.btn-blue {
    background: rgba(67, 118, 247, .8);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    border: none;
    border: 1px solid rgba(255,255,255,0);
    padding: 6px 20px;
    margin: 4px 4px;
    color: white;
    font-size: 13px;
}

.btn-blue:hover {
    color: white;
}

.btn-gray {
    background: #c4c4c4;
    border: 1px solid rgba(255,255,255,0);
    border-radius: 8px;
    color: black;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    padding: 6px 20px;
    font-size: 13px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
}

.sort-button {
    margin: 4px 0px;
    padding: 6px 50px;
    font-size: 13px;
    width: 100%;
}

.btn-long {
    padding: 6px 64px;
}



.favourite-lessons-button{
    font-size: 12px;
    width: 100%;
    padding: 6px 4px;
}

.favourite-lessons-button {
    margin-top: 36px;
}

@font-face {
  font-family: open-moji;
  src: url(../fonts/OpenMoji-Color.ttf);
}

.emoji:before {
    cursor: pointer;
    font-size: 25px;
    opacity: .5;
}
.emoji.active:before {
    opacity: 1;
}

.emoji-sleepy:before {
    content: "\1f634";
}
.emoji-wink:before {
    content: "\1f609";
}
.emoji-smile:before {
    content: "\1f60a";
}
.emoji-surprise:before {
    content: "\1f60f";
}
.emoji-fatigue:before {
    content: "\1f61f";
}

.lecture-status {
    position: absolute;
    padding: 5px 15px;
    width: 50%; 
    text-align: center !important;
    border-radius: 8px;
    bottom: 23px;
    left: 24px;
    right: 24px;
    color: black;
    text-align: left;
    font-size: 14px;
    z-index:2;   
}

.bg-yellow {
    background-color: #E0FF9D;
}

.bg-blue {
    background-color: #33FFCE;
}

.bg-purple {
    background-color: #F79DFF;
}

.lecturelikes {
    position: absolute;
    right: 24px;
    bottom: 16px;
}

.lecturelikes-archive {
    bottom: 32px;
}

.lecturelikes-icon {
    font-size: 36px;
    color: #F4900C;
}

.lecturelikes-count {
    font-size: 13px;
    position: absolute;
    top: 20%;
    left: 4px;
    right: 0;
}

.lesson-list {
    margin-bottom:16px;
    list-style-type: none;
    padding: 0;
}

.file-files {
    padding: 0;
    width: 100%;
    min-height: 50vh;
}

.file-file {
    text-transform: none;
    color: black;
    border-radius: 4px;
}

.file-file:hover {
    text-decoration: none;
    color: black;
    background: rgba(255, 255,255, 0.4);
}

.video-title-mobile {
    position: absolute;
    margin-left: 8px;
    margin-top: 8px;
    z-index: 2;
    background: rgba(255, 255, 255, .8);
    border-radius: 7px;
    padding: 4px 8px;
}

.lecture-play-along-title-mobile {
    position: absolute;
    z-index: 2;
    margin-left: 16px;
    margin-top: 16px;
    font-size: 13px;
    background: rgba(255, 255, 255, 0.8);
    padding: 2px 8px;
    border-radius: 4px;
}

.display-flex {
    display: flex;
}

.more-lessons-teacher-portrait {
    height: 70px;
    width: 70px;
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    margin-left: 60px;
    margin-top: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgb(0 0 0 / 50%);
}

.more-lessons-button {
    background: rgba(248, 197, 67, 1);  
    position: relative;
}

@media(max-width: 1199px) {
    .video-js {
        width: 520px;
        height: 293px;
    }

    .school-logo {
        display: none;
    }

    #chat-btn-with-icons {
        left: calc(50% - 365px);
    }

    #chat-btn-with-icons.teacher {
        left: calc(50% - 630px);
    }

    .btn-received-instrument {
        left: calc(50% - 595px);
    }

    .more-lessons-teacher-portrait {
        margin-left: 10px;
    }
}


@media(max-width: 991.5px){
    .video-js {
        width: 704px;
        height: 396px;
    }

    #chat-btn-with-icons {
        left: calc(50% - 475px);
    }

    #chat-btn-with-icons.teacher {
        left: calc(50% - 460px);
    }

    .more-lessons-teacher-portrait {
        margin-left: 135px;
    }

    .top-and-left-section {
        display: flex;
        flex-direction: column-reverse;
    }
}

@media (min-width: 991px) {
    ul.navbar-nav li.dropdown:hover > ul.dropdown-menu {
        display: block;
    }
    .lesson-column-outer {
        padding: 0;
        height: 100%;
    }
}


@media(max-width:768px) {
    .more-lessons-teacher-portrait {
        margin-left: max(calc(50% - 184px), 12px);
    }

    .more-lessons-button {
        font-size: 11px;
    }

    .video-js {
        width: 300px;
        height: 236px;
    }
    .modal .video-js {
        width: 100%;
        height: 236px;
    }
    .lecture-wrap {
        min-width: unset !important;
        padding: 8px !important;
    }

    .lecture-wrap-related {
        display: inline-block;
        width: 49%;
    }
    .lecture-thumb {
        height: 160px;
    }
    .lecture-wrap:hover {
        transform: scale(1.03);
    }
    .video-js {
        width: 100%;
        height: 300px;
    }
    .school-logo {
        width: 60px;
        height: 60px;
        background-size: 60px;
        margin: 10px 15px;
        display: block;
    }
    .navbar {
        min-height: 80px;
        padding-top: 10px;
    }
    .navbar-header {
        margin-top: -10px;
    }
    .navbar-toggle {
        margin-top: 18px;
    }
    .navbar-collapse {
        margin-top: 12px;
    }
    .nav li>form>button.logout {
        display: block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
    .LessonTop{
        text-align: center;
        align-content: center;
    }
    .login-header,.login-input{
        font-size: 12px;
    }
    .evaluation-and-favorite{
        background: rgb(196, 196, 196);
        border-radius: 10px;
        text-align: center;
        padding: 10px;
        float: none !important;
    }

    .next-lesson {
        margin: 8px 0 0 0;
    }
    .big-title{
        display: none;
    }
    .LessonComments__Container {
        max-width: 75%;
    }

    .LessonComments__Container--response {
        max-width: 70%;
    }
    .LectureOverview__LinkToAll {
        float:none; margin-top:0;
    }  
    .LectureOverview__Section {
        min-height: unset;
    }

    .LectureOverview__Section--empty-with-portrait {
        padding-bottom: 64px;
    }

    .LectureOverview__EmptyText {
        margin-bottom: 32px;
    } 
    .login-container {
        align-content: center;
        margin-top: 0px;
        padding: 0;
    }

    .login-header {
        margin-top: 20px;
    }
    
    div > .login-form {
        margin: 0;
        padding: 0;
        width: 100%;
    }

    .form-group {
        margin: 0;
    }

    .search-section {
        margin-top: 5px;
        margin-bottom: 5px;  
        margin: 0;
        padding: 4px;
        display: inline-block;
    }

    .content-input {
        float: right;
        margin: 3px;
        margin-left: 0px;
        padding-left: 5px;
        width: 80%;
    }

    .btn-orange, .btn-blue {
        margin-right: 0;
    }

    .lesson-column {
        min-height: unset;
    }
    .lectures-index {
        padding: 0;
    }
    .btn-long {
        padding: 6px 40px;
    }
    #chat-btn-with-icons, #chat-btn-with-icons.teacher {
        top: 12px;
        right: 70px;
        left: auto;
    }
    
    .btn-narrow {
        padding: 6px 10px;
    }

    .btn-received-instrument {
        right: 70px;
        left: auto;
        top: 60px;
    }
}

@media(max-width:400px) {
    .sort-button {
        padding: 6px;
    }
}




.reg-page-1 h3 {
    text-transform: uppercase;
}

.reg-page-1-container {
    display: flex;
    grid-gap: 32px;
    align-items: center;
}

.reg-page-1-img-wrapper {
    flex: 0 0 150px;
}

.reg-page-1-img-wrapper img {
    width: 100%;
}

.reg-page-1-title-outer {
    flex: 0 1 100%; 
    min-height: 200px;
}

.reg-page-1-btn-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.reg-page-1-btn-container button {
    flex: 0 1 80%;
}

.reg-page-1-btn-container span {
    flex: 1 0 15%;
    font-weight: bold;
    color: white;
    text-align: right;
}

#post-registration-modal.modal-dialog {
    top: 160px;
}

@media (max-width: 767px){
    .reg-page-1-container {
        flex-wrap: wrap;
    }

    .reg-page-1-img-wrapper {
        flex: 0 0 100%;
    }

    .reg-page-1-title-outer {
        min-height: unset;
    }
}



.PlanSuggestion__Container {
    display: flex;
    gap: 16px;
    padding-left: 0;
}

.PlanSuggestion {
    list-style-type: none;
    padding: 8px;
    border: 3px solid #B1D892;
    border-radius: 8px;
    box-shadow: 8px 8px 8px #8089dd;
    position: relative;
    flex: 0 0 calc(25% - 12px);
}

.PlanSuggestion__Payment {
    list-style-type: none;
    padding: 8px;
    flex: 0 0 calc(75% - 12px);
}

.PlanSuggestion div:not(:last-child, :nth-child(3), :nth-child(4)) {
    border-bottom: 2px solid #8089DD;
    padding-bottom: 8px;
    margin-bottom: 16px;
}

.PlanSuggestion__Header {
    font-weight: bold;
    font-size: 20px;
}

.PlanSuggestion__Price {
    color: #5FB751;
    font-weight: bold;
}

.PlanSuggestion__Savings {
    font-weight: bold;
    margin-bottom: 48px;
    color: #8089dd;
    font-size: 13px;
}

.PlanSuggestion__PaymentCheckbox {
    font-size: 13px;
}

.PlanSuggestion div:nth-last-child(2){
    margin-bottom: 48px;
}

.PlanSuggestion__CheckoutButton {
    position: absolute;
    bottom: 16px;
    left: 50%;
    transform: translatex(-50%);
}

.PlanSuggestion__ConfirmPaymentButton {
    margin-top: 32px;
}

#payment-element {
    margin-top: 32px;
}

#payment-error-message {
    font-size: 20px;
}

#payment-error-code {
    font-size: 11px;
}


@media (max-width: 767px){
    .PlanSuggestion__Container {
        flex-direction: column;
    }

    .PlanSuggestion__CheckoutButton {
        position: initial;
        transform: unset;
    }
}


.equipment-video {
    padding-right: 32px;
    margin-bottom: 32px;
}